<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<link rel="stylesheet" media="all" type="text/css" href="{media}/css/theme.css" />
	<link rel="stylesheet" media="print" type="text/css" href="{media}/css/print.css" />
	{block extrahead}{/block}
	<title>Patricia - {$page_title}</title>
</head>
<body>
	<div class="topmenu">
		<table class="topmenu-table"><tr>
			<td>
				<ul class="nav">
					<li class="admision"><a href="{url 'Admision_Views_Index::index'}">Admisión</a>
						<ul>
							<li><a href="{url 'Admision_Views_Aspirante::convocatoria'}">Nuevo trámite</a></li>
							<li><a href="{url 'Admision_Views_Aspirante::continuar'}">Seguimiento de trámites</a></li>
						</ul>
					</li>
					{aperm 'admin_convocatoria', $user, 'Admision.admin_convocatoria'}
					{aperm 'admin_aspirantes', $user, 'Admision.admin_aspirantes'}
					{aperm 'admitir', $user, 'Admision.admitir_aspirantes'}
					{if $admin_convocatoria || $admin_aspirantes || $admitir}
					<li class="admision-adm"><a href="#">Administración</a>
						<ul>
							{if $admin_convocatoria}<li><a href="{url 'Admision_Views_Convocatoria::index'}">Convocatorias</a></li>{/if}
							{if $admin_aspirantes}<li><a href="{url 'Admision_Views_Aspirante::index'}">Aspirantes</a></li>{/if}
							{if $admitir}<li><a href="{url 'Admision_Views_Admitir::index'}">Admitir alumnos</a></li>{/if}
						</ul>
					</li>
					{/if}
				</ul>
			</td>
			{if !$user.isAnonymous()}
			<td><!-- Esta es la información del usuario -->
				<div class="userdiv">
					<p class="user"><img src="http://www.gravatar.com/avatar/{$user.email|md5}.jpg?s=30" alt=" "/>
					{if $user.get_type() == 'm'}<a href="{url 'Pato_Views_Maestro::verMaestro', array($user.codigo)}"><strong>{$user.nombre} {$user.apellido}</strong></a>{/if}
					{if $user.get_type() == 'a'}<a href="{url 'Pato_Views_Alumno::verPerfil', array($user.codigo)}"><strong>{$user.nombre} {$user.apellido}</strong></a>{/if}</p>
					<p class="logout"><a href="{url 'Pato_Views_Login::logout'}">&nbsp;<img class="icon" src="{media '/img/application-exit.png'}" alt="Salir" />Salir</a></p>
				</div>
			</td>
			{/if}
		</tr></table>
	</div>
	{block extratopbody}{/block}
	{patomsgs $user}
	<h1 class="titulo">{$page_title}</h1>
	<div class="content-div">
		{block body}{/block}
	</div>
{block javascript}{/block}
</body>
</html>
