{extends 'admision/base.html'}
{block body}
<p>Convocatoria: <strong>{$convocatoria.descripcion}</strong></p>
<p>Seleccione una carrera. Si la carrera deseada no aparece en la lista, revise los permisos con su administrador.</p>
<ul>{foreach $cupos as $cupo}
	<li><a href="{url 'Admision_Views_Admitir::admitirCarrera', $cupo.id}">{$cupo.get_carrera ()}</a>. {if $cupo.procesada == false}Esta carrera aun no ha sido procesada, puede <a href="{url 'Admision_Views_Admitir::procesar', $cupo.id}">crear todos los alumnos y enviar los correos</a> para esta carrera{else}Esta carrera ya fué procesada{/if}</li>
{/foreach}</ul>
{/block}
