{extends 'pato/alumno/base.html'}
{block body_alumno}
<h2>Agenda para el calendario {$calendario.descripcion}</h2>
{if $agenda}
	{if $user.administrator}
	<p><a href="{url 'Pato_Views_Alumno::cambiarAgenda', $alumno.codigo}"><img class="icon" src="{media '/img/document-properties.png'}" alt="Cambiar" />Ajustar agenda</a> | <a href="{url 'Pato_Views_Alumno::eliminarAgenda', $alumno.codigo}"><img class="icon" src="{media '/img/edit-delete.png'}" alt="Eliminar" />Eliminar agenda</a></p>
	{/if}
	<p>La agenda del alumno permite el registro de materias para el {$calendario.clave}</p>
	<p>Programada para el día {$agenda.inicio|date:"%d/%m/%Y %H:%M"} al {$agenda.fin|date:"%d/%m/%Y %H:%M"}</p>
	{if $abierta && $agenda.alumno == $user.login}<p>Pasar al <a href="{url 'Pato_Views_Alumno::registro', $alumno.codigo}">registro de materias</a></p>{/if}
{else}
	{if $user.administrator}
	<p><a href="{url 'Pato_Views_Alumno::crearAgenda', $alumno.codigo}"><img class="icon" src="{media '/img/list-add.png'}" alt="Crear" />Crear agenda para el alumno</a></p>{/if}
	<p>La agenda del alumno <strong>NO</strong> permite el registro</p>
{/if}
{/block}
