{extends 'pato/alumno/base.html'}
{block body_alumno}
{if count ($inscripciones) == 0}
	<p>No tiene ninguna carrera registrada. Por favor llame al administrador, esto no debería de pasar.</p>
{else}
	<p>El alumno {$alumno} tiene múltiples carreras, seleccione una:</p>
	<table>
		<thead><tr><th>Carrera</th></tr></thead>
		<tbody>
			{foreach $inscripciones as $inscripcion}
			<tr><td>{$inscripcion.get_carrera}</td><td>{$inscripcion.get_ingreso}</td><td>{if $inscripcion.egreso}{$inscripcion.get_egreso}{else}-{/if}</td><td>{$inscripcion.get_estatus}</td><td><form action="{url 'Pato_Views_Alumno::kardexCarrera', array ($alumno->codigo, $inscripcion->id)}" method="get"><input type="submit" value="Ver kardex" /></form></td></tr>
			{/foreach}
		</tbody>
	</table>
{/if}
{/block}
