{extends 'pato/alumno/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body_alumno}
<h2>Calificaciones del Alumno</h2>
{if count ($secciones) != 0}{foreach $secciones as $seccion}
	<h3>{$seccion.get_materia} - <a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">{$seccion.seccion}</a></h3>
	<!--<p>Nrc: <a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">{$seccion.nrc}</a></p>-->
	<p>Profesor: {if $seccion.suplente}{$seccion.get_suplente}{else}{$seccion.get_maestro}{/if}</p>
	{regroup $evals[$seccion.nrc], 'grupo', 'por_grupo'}
	<p>Asistencia para este grupo: {if $asistencias[$seccion.nrc]}{$asistencias[$seccion.nrc].asistencia}%{else}-{/if}</p>
	{if count($por_grupo) != 0}
	<div id="tabs_{$seccion.nrc}">
	<ul>{foreach $por_grupo as $gpe}<li><a href="#t_{$seccion.nrc}_{$gpe.grouper}">{$gpe.list[0].get_grupo}</a></li>{/foreach}</ul>
	{foreach $por_grupo as $gpe}
	<div id="t_{$seccion.nrc}_{$gpe.grouper}">
	<table border="1">
		<thead><tr><td />{foreach $gpe.list as $eval}<td>{$eval.descripcion}</td>{/foreach}</tr></thead>
		<tbody>
			<tr><td>{$alumno}</td>
			{foreach $gpe.list as $eval}
			{if isset ($boleta[$seccion.nrc][$eval.id])}
				{if $boleta[$seccion.nrc][$eval.id] < 0}{assign $x = $boleta[$seccion.nrc][$eval.id] * -1}
					<td>{$especial[$x]}</td>
				{elseif $boleta[$seccion.nrc][$eval.id] == 0}
					<td>NA</td>
				{else}
					<td>{$boleta[$seccion.nrc][$eval.id]}</td>
				{/if}
			{else}
				<td>-</td>
			{/if}
			{/foreach}</tr>
		</tbody>
	</table>
	</div>
	{/foreach}
	</div>
	<script type="text/javascript">
	// <![CDATA[
		$('#tabs_{$seccion.nrc}').tabs();
	// ]]>
	</script>
	{/if}
{/foreach}
{else}
	<p>Este alumno no tiene grupos activos</p>
{/if}
{/block}
{block extrahead}<link rel="stylesheet" media="all" type="text/css" href="{media}/css/smoothness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>{/block}
