{extends 'pato/alumno/base.html'}
{block body_alumno}
<p>El alumno tiene el siguiente historial: </p>
{if count ($inscripciones) == 0}
	<p>No tiene ninguna carrera registrada. Por favor llame al administrador, esto no debería de pasar.</p>
{else}
	{foreach $inscripciones as $inscripcion}<p>En el calendario {$inscripcion.get_ingreso}:</p>
	<table>
		<tbody>
			<tr><td>Carrera:</td><td>{$inscripcion.get_carrera}</td></tr>
			<tr><td>Calendario de ingreso:</td><td>{$inscripcion.get_ingreso}</td></tr>
			<tr><td>Calendario de egreso:</td><td>{if $inscripcion.egreso}{$inscripcion.get_egreso}{else}-{/if}</td></tr>
			<tr><td>Estatus:</td><td>{$inscripcion.get_estatus}</td></tr>
		</tbody>
	</table>
	<hr />{/foreach}
{/if}
{/block}
