{extends 'pato/alumno/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body_alumno}
<h2>Calificaciones del Alumno</h2>
{if count ($secciones) != 0}{foreach $secciones as $seccion}
	<h3>{$seccion.get_materia} - {$seccion.seccion}</h3>
	<p>Nrc: <a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">{$seccion.nrc}</a></p>
	<p>Profesor: {if $seccion.suplente}{$seccion.get_suplente}{else}{$seccion.get_maestro}{/if}</p>
	<hr />
{/foreach}
{else}
	<p>Este alumno no tiene grupos activos</p>
{/if}
{/block}
