{extends 'pato/base.html'}
{block body}
{aperm 'admin_carrera', $user, 'Patricia.admin_carrera'}
{if $admin_carrera}<p><a href="{url 'Pato_Views_Carrera::agregarCarrera'}"><img class="icon" src="{media '/img/list-add.png'}" alt="Crear carrera" />Agregar nueva carrera</a></p>{/if}
{if count ($carreras) != 0}
	<ol>
	{foreach $carreras as $carrera}
		<li><a href="{url 'Pato_Views_Carrera::verCarrera', array($carrera.clave)}">{$carrera.clave} {$carrera.descripcion}</a></li>
	{/foreach}
	</ol>
{else}
	<p>No hay carreras.</p>
{/if}
{/block}
