{extends 'pato/maestro/base.html'}
{block body_maestro}
{maestroself 'maestro_self', $user, $maestro}
<h2>Perfil público</h2>
<table class="form" summary="">
	<tr>
		<th style="text-align: right">
		{if $maestro_self}
		<a href="http://gravatar.com/emails/" title="Cambie su imagen en gravatar.com">
		{else}
		<a href="http://www.gravatar.com/avatar/{$maestro.email|md5}.jpg?s=400">
		{/if}<img src="http://www.gravatar.com/avatar/{$maestro.email|md5}.jpg?s=60" alt=" " /></a>
		</th>
	{if $maestro_self}
		<td>Yo</td>
	{else}
		<td>{$maestro.apellido} {$maestro.nombre}</td>
	{/if}
	</tr>
	<tr>
		<th>Grado:</th>
		<td>{$maestro.displaygrado ()}</td>
	</tr>
	<tr>
		<th>Código:</th>
		<td>{$maestro.codigo}</td>
	</tr>
	{if $maestro.tiempo != null}
		{if $maestro.tiempo == 't'}
			<tr><td></td><td>Tiempo completo</td></tr>
		{else}
			<tr><td></td><td>Medio tiempo</td></tr>
		{/if}
	{/if}
	<tr>
		<th>Última vez visto:</th>
		<td>{$maestro.last_login|dateago}</td>
	</tr>
</table>
{/block}
