{extends 'pato/base.html'}
{block body}
<p><strong>Clave</strong>: {$calendario.clave}</p>
<p><strong>Descripción</strong>: {$calendario.descripcion}</p>
<p>{if $es_activo}<strong>Este es el calendario activo</strong>{else}Usted puede convertir este calendario <a href="{url 'Pato_Views_Calendario::cambiarActual', $calendario.clave}">activo por defecto</a>{/if}</p>
<p>{if $es_siguiente}<strong>Este es el calendario siguiente</strong>{else}Usted puede convertir este calendario <a href="{url 'Pato_Views_Calendario::cambiarSiguiente', $calendario.clave}">en el próximo para ingreso de materias</a>{/if}</p>
<h2>Días festivos</h2>
<p>Estos son los días festivos próximos para este calendario:</p>
<table border="1">
	<thead><tr><th>Día</th><th>Razón</th><th>Descanso para</th></tr></thead>
	<tbody>{foreach $festivos as $fes}
		{if $fes.fin >= $hoy}<tr><td>
		{if $fes.inicio == $fes.fin}{$fes.inicio|dateSimple:'%e de %B de %Y'}{else}Del <strong>{$fes.inicio|dateSimple:'%e/%b/%Y'}</strong> al <strong>{$fes.fin|dateSimple:'%e/%b/%Y'}</strong>{/if}
		</td><td>{$fes.descripcion}</td>
		<td>{if $fes.acad && $fes.admvos}Administrativos y académicos{elseif $fes.acad}Académicos{elseif $fes.admvos}Administrativos{/if}</td></tr>
		{/if}
	{/foreach}</tbody>
</table>
<p>Estos son los días pasados en el calendario: </p>
<table border="1">
	<thead><tr><th>Día</th><th>Razón</th><th>Descanso para</th></tr></thead>
	<tbody>{foreach $festivos as $fes}
		{if $fes.fin < $hoy}<tr><td>
		{if $fes.inicio == $fes.fin}{$fes.inicio|dateSimple:'%e de %B de %Y'}{else}Del <strong>{$fes.inicio|dateSimple:'%e/%b/%Y'}</strong> al <strong>{$fes.fin|dateSimple:'%e/%b/%Y'}</strong>{/if}
		</td><td>{$fes.descripcion}</td>
		<td>{if $fes.acad && $fes.admvos}Administrativos y académicos{elseif $fes.acad}Académicos{elseif $fes.admvos}Administrativos{/if}</td></tr>
		{/if}
	{/foreach}</tbody>
</table>
<h2>Configuraciones del calendario</h2>
{if $configs['suficiencias']}
	<p>Las suficiencias están <strong>activadas</strong> para este calendario. Los alumnos pueden solicitar suficiencias en el sistema.</p>
{else}
	<p>Las suficiencias están <strong>desactivadas</strong> para este calendario.</p>
{/if}

<form method="get" action="{url 'Pato_Views_Calendario::configurar', $calendario.clave}"><input type="submit" value="Cambiar configuraciones del calendario" /></form>
{/block}
