{extends 'pato/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body}
<p>Modificando el nrc {$seccion->nrc}, materia {$seccion->get_materia()} de la sección {$seccion->seccion}</p>
{if $form.errors}<div class="errors"><p>El formulario contiene algunos errores:</p></div>{/if}
<form method="post" action=".">
	<table>
		{$form.render_table}
		<tr><td>&nbsp;</td><td><input type="submit" value="Actualizar horario" /></td></tr>
	</table>
</form>
{/block}
