{extends 'pato/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body}
<form method="post" action=".">
<h2>¿Esta seguro de que desea eliminar esta hora del NRC {$seccion.nrc}?</h2>
<p>La hora se muestra a continuación:</p>
<table border="1">
<thead><tr><th>Hora inicio</th><th>Hora fin</th><th>Días</th><th>Edificio</th><th>Aula</th></tr></thead>
<tbody>
<tr>
<td>{$horario.inicio|time:'H:i'}</td>
<td>{$horario.fin|time:'H:i'}</td>
<td>{$horario.displayDias()}</td>
<td><a href="{url 'Pato_Views_Edificio::verEdificio', array ($salon.edificio)}">{$salon.edificio}</a></td>
<td><a href="{url 'Pato_Views_Edificio::verEdificio', array ($salon.edificio)}{'#salon_'~$salon.id}">{$salon.aula}</a></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="Sí, borrarlo" /> | <a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">No</a></p>
</form>
{/block}
