{extends 'pato/base.html'}
{block body}
<p>Se buscó un salón desocupado de {$bus_inicio} a {$bus_fin}, los dias {$semana}</p>
{if $salones}
	<p>Se encontraron los siguientes resultados:</p>
	<table border="1">
		<thead><tr><th>Edificio</th><th>Aula</th><th>Cupo</th></thead>
		<tbody>
			{foreach $salones as $salon}
				<tr><td>{$salon.displaylinkededificio()|safe}</td><td>{$salon.displaylinkedaula()|safe}</td><td>{$salon.cupo}</td></tr>
			{/foreach}
		</tbody>
	</table>
{else}
<p>No se encontraron salones</p>
{/if}
{/block}
