{extends 'pato/base.html'}
{block body}
{if $form.errors}
	<div class="errors"><p>El formulario contiene algunos errores:</p>{if $form.get_top_errors}{$form.render_top_errors}{/if}</div>
{/if}
<form method="post" action=".">
<table>
    <tr><th><strong>Materia:</strong></th><td>{$materia}</td></tr>
	{$form.render_table}
	<tr><td>&nbsp;</td><td><input type="submit" value="Hecho" /> | <a href="{url 'Pato_Views_Materia::verMateria', array ($materia.clave)}">Cancelar</a></td></tr>
</table>
</form>
{/block}
