{extends 'pato/base.html'}
{block body}
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Pato_Views_Materia::verMateria', array ($materia.clave)}">Detalles</a></li>
<li style="display: inline;"><a href="{url 'Pato_Views_Materia::verHoras', array ($materia.clave)}">Horarios y grupos</a></li>
<li style="display: inline;"><a href="{url 'Pato_Views_Materia::verEvals', array ($materia.clave)}">Formas de evaluación</a></li>
{if $user.administrator}
<li style="display: inline;"><a href="{url 'Pato_Views_Materia::actualizarMateria', array ($materia.clave)}">Actualizar</a></li>
{/if}
</ul>
{block body_materia}{/block}
{/block}
