{extends 'pato/materia/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body_materia}
<h2>Horas de la materia</h2>
{if $calendario.events}
	{$calendario.render}
{else}
	<p>Esta materia aún no tiene programadas horas clase.</p>
{/if}
<h2>Lista de secciones</h2>
{aperm 'add1', $user, 'Patricia.editar_secciones_vacio'}{aperm 'add2', $user, 'Patricia.admin_secciones'}
{if $add1 || $add2}<p>Puede <a href="{url 'Pato_Views_Seccion::agregarNrc', array (), array ('materia' => $materia.clave)}">agregar una nueva sección</a> a esta materia</p>{/if}
{$paginador.render}
{/block}
