{extends 'pato/materia/base.html'}
{block body_materia}
<h2>Detalles</h2>
<p>Créditos: {$materia.creditos}</p>
{if count ($materia.get_carreras_list) != 0}
	<p>La materia es tomada por: {foreach $materia.get_carreras_list as $carrera}<a href="{url 'Pato_Views_Materia::porCarrera', array ($carrera.clave)}"><abbr title="{$carrera.descripcion}">{$carrera.clave}</abbr></a> <a href="{url 'Pato_Views_Materia::eliminarDeCarrera', array ($materia.clave, $carrera.clave)}"><img class="icon" src="{media '/img/list-remove.png'}" alt="Eliminar filtro" /></a> | {/foreach}</p>
{else}
	<p>La materia no es tomada por alguna carrera</p>
{/if}
{if $user.administrator}<p>Puede <a href="{url 'Pato_Views_Materia::agregarACarrera', array ($materia.clave)}">agregar una nueva carrera</a> a esta materia</p>{/if}
{/block}
