{extends 'pato/base.html'}
{block body}
<p>Bla, bla, bla. Moleste a su administrador más cercano.</p>
<p>Estado actual: <strong>{if !$abierta}Cerrado{else}Abierto</strong><br />Calendario sobre el que evaluan: <strong>{$cal}{/if}</strong></p>
{if $form.errors}
	<div class="errors">
	<p>El formulario contiene algunos errores:</p>
	</div>
{/if}
<form method="post" action=".">
	<table>
		{$form.render_table}
		<tr><td>&nbsp;</td><td><input type="submit" value="Cambiar preferencias" /></td></tr>
	</table>
</form>
{/block}
