{extends 'pato/base.html'}
{block body}
{aperm 'usar_folios', $user, 'Patricia.foliador'}{aperm 'cambiar_fecha', $user, 'Patricia.falsificador_fecha'}
<p>Aquí puede cambiar algunas preferencias.</p>
{if $usar_folios}
<p>Cambiar <a href="{url 'Pato_Views_Preferencias::cambiarFolio'}">folio inicial</a></p>
{/if}
{if $cambiar_fecha}
<p>Falsificar una <a href="{url 'Pato_Views_Preferencias::cambiarFecha'}">fecha</a></p>
{/if}
<p>Cambiar el texto en los <a href="{url 'Pato_Views_Preferencias::terminosSuficiencias'}">términos de las suficiencias</a></p>
<p>Configurar <a href="{url 'Pato_Views_Preferencias::evalProf'}">si evalúan a los profesores y sobre qué calendario</a></p>
{/block}
