{extends 'pato/base.html'}
{block body}
<p>Aquí habrá reportes varios.</p>
<h2>Oferta académica</h2>
<p><a href="{url 'Pato_Views_Reportes_Oferta::matriculadosCalendario'}">Alumnos matriculados y no matriculados</a></p>
<p><a href="{url 'Pato_Views_Reportes_Oferta::maestrosActivos'}">Maestros activos impartiendo alguna materia</a></p>
<p><a href="{url 'Pato_Views_Reportes_Oferta::matriculadosMateriaIndex'}">Alumnos matriculados por materia</a></p>
<h2>Calificaciones</h2>
<p><a href="{url 'Pato_Views_Reportes_Calificaciones::subidaTarde'}">Maestros que no subieron calificaicones</a></p>
<p><a href="{url 'Pato_Views_Reportes_Calificaciones::indiceReprobacion'}">Índice de reprobación</a></p>
{/block}
