<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<link rel="stylesheet" media="all" type="text/css" href="{media}/css/theme.css" />
	<link rel="stylesheet" media="print" type="text/css" href="{media}/css/print.css" />
	{block extrahead}{/block}
	<title>Patricia - {$page_title}</title>
</head>
<body>
	<div id="wrapper">
	<div class="topmenu">
		<table class="topmenu-table"><tr>
			<td>
				<ul class="nav">
					<li class="general"><a href="{url 'Pato_Views_Index::index'}">Académico</a>
						<ul>
							<li><a href="{url 'Pato_Views_Alumno::index'}">Alumnos</a></li>
							<li><a href="{url 'Pato_Views_Maestro::index'}">Profesores</a></li>
							<li><a href="{url 'Pato_Views_Seccion::index'}">Secciones</a></li>
							<li><a href="{url 'Pato_Views_Materia::index'}">Materias</a></li>
							<li><a href="{url 'Pato_Views_Carrera::index'}">Carreras</a></li>
							<li><a href="{url 'Pato_Views_Edificio::index'}">Edificios y salones</a></li>
						</ul>
					</li>
					{aperm 'admin_cal', $user, 'Patricia.admin_calendario'}
					{anyperm 'cals', $user, array ('Patricia.cerrar_kardex', 'Patricia.corregir_kardex', 'Patricia.levantar_kardex')}
					{anyperm 'utils', $user, array ('Patricia.imprimir_boleta_alumno', 'Patricia.matricular_alumnos', 'Patricia.admin_agenda', 'Patricia.admin_materia_evals', 'Admision.agregar_codigos_postales'}
					{aperm 'reportes', $user, 'Patricia.reportes_todos'}
					{aperm 'perm_estatus', $user, 'Patricia.admin_estatus'}
					{anyperm 'prefs', $user, array ('Patricia.foliador', 'Patricia.falsificador_fecha', 'Patricia.admin_suficiencias', 'Patricia.admin_evaluacion_profs')}
					{if $admin_cal || $cals || $utils || $reportes || $perm_estatus || $prefs}
					<li class="calificaciones"><a href="#">Sistema</a>
						<ul>
							{if $admin_cal}<li><a href="{url 'Pato_Views_Calendario::index'}">Calendarios</a></li>{/if}
							{if $cals}<li><a href="{url 'Pato_Views_Calificaciones::index'}">Calificaciones</a></li>{/if}
							{if $utils}<li><a href="{url 'Pato_Views_Utils::index'}">Utilerías</a></li>{/if}
							{if $reportes}<li><a href="{url 'Pato_Views_Reportes::index'}">Reportes</a></li>{/if}
							{if $perm_estatus}<li><a href="{url 'Pato_Views_Estatus::index'}">Estatus</a></li>{/if}
							{if $prefs}<li><a href="{url 'Pato_Views_Preferencias::index'}">Preferencias</a></li>{/if}
						</ul>
					</li>
					{/if}
					<li class="especial"><a href="#">Especial</a>
						<ul>
							<li><a href="{url 'Pato_Views_Evaluacion_Profesor::index'}">Evaluación a profesores</a></li>
							<li><a href="{url 'Encuesta_Views_Fumador::docente'}">Consumo de Tabaco</a></li>
						</ul>
					</li>
					<li class="tramites"><a href="#">Trámites</a>
						<ul>
							<li><a href="{url 'Pato_Views_Solicitud_Suficiencias::index'}">Suficiencias</a></li>
						</ul>
					</li>
				</ul>
			</td>
			<td><!-- Esta es la información del usuario -->
				<div class="userdiv">
				{if !$user.isAnonymous()}
					<p class="user"><img src="http://www.gravatar.com/avatar/{$user.email|md5}.jpg?s=30" alt=" "/>
					{if $user.get_type() == 'm'}<a href="{url 'Pato_Views_Maestro::verMaestro', array($user.codigo)}"><strong>{$user.nombre} {$user.apellido}</strong></a>{/if}
					{if $user.get_type() == 'a'}<a href="{url 'Pato_Views_Alumno::verPerfil', array($user.codigo)}"><strong>{$user.nombre} {$user.apellido}</strong></a>{/if}</p>
					<p class="logout"><a href="{url 'Pato_Views_Login::logout'}">&nbsp;<img class="icon" src="{media '/img/application-exit.png'}" alt="Salir" />Salir</a></p>
				{else}<p class="login"><a href="{url 'Pato_Views_Login::login', array (), array ('_redirect_after' => $uri)}">Iniciar sesión</a></p>{/if}
				</div>
			</td>
		</tr></table>
	</div>
	{block extratopbody}{/block}
	{patomsgs $user}
	<h1 class="titulo">{$page_title}</h1>
	<div class="content-div">
		{block body}{/block}
	</div>
	<div class="footer do-not-print">
		<div style="height: 15px;"></div>
		<!-- IPv6-test.com button BEGIN --><a href='http://ipv6-test.com/validate.php?url=referer'><img src='http://ipv6-test.com/button-ipv6-80x15.png' alt='ipv6 ready' title='ipv6 ready' border='0' /></a><!-- IPv6-test.com button END -->&nbsp;<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
	</div>
	</div>
{block javascript}{/block}
</body>
</html>
