<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<link rel="stylesheet" media="all" type="text/css" href="{media}/css/theme.css" />
	{block extrahead}{/block}
	<title>Patricia - {$page_title}</title>
</head>
<body>
	<div class="topmenu">
		<table class="topmenu-table"><tr>
			<td>
				<ul class="nav">
					<li class="general"><a href="{url 'Pato_Views::index'}">Académico</a>
						<ul>
							<li><a href="{url 'Pato_Views_Alumno::index'}">Alumnos</a></li>
							<li><a href="{url 'Pato_Views_Maestro::index'}">Profesores</a></li>
							<li><a href="{url 'Pato_Views_Seccion::index'}">Secciones</a></li>
							<li><a href="{url 'Pato_Views_Materia::index'}">Materias</a></li>
							<li><a href="{url 'Pato_Views_Carrera::index'}">Carreras</a></li>
							<li><a href="{url 'Pato_Views_Edificio::index'}">Edificios y salones</a></li>
						</ul>
					</li>
					{if $user.administrator}
					<li class="calificaciones"><a href="#">Sistema</a>
						<ul>
							<li><a href="{url 'Pato_Views_Calendario::index'}">Calendarios</a></li>
							<li><a href="{url 'Pato_Views_Calificaciones::index'}">Calificaciones</a></li>
							<li><a href="{url 'Pato_Views_Utils::index'}">Utilerías</a></li>
							<li><a href="{url 'Pato_Views_Reportes::index'}">Reportes</a></li>
							<li><a href="{url 'Pato_Views_Estatus::index'}">Estatus</a></li>
							<li><a href="{url 'Pato_Views_Preferencias::index'}">Preferencias</a></li>
						</ul>
					</li>
					{/if}
				</ul>
			</td>
			<td><!-- Esta es la información del usuario -->
				<div class="userdiv">
				{if !$user.isAnonymous()}
					<p class="user"><img src="http://www.gravatar.com/avatar/{$user.email|md5}.jpg?s=30" alt=" "/>
					{if $user.type == 'm'}<a href="{url 'Pato_Views_Maestro::verMaestro', array($user.login)}"><strong>{$user.extra.nombre} {$user.extra.apellido}</strong></a>{/if}
					{if $user.type == 'a'}<a href="{url 'Pato_Views_Alumno::verAlumno', array($user.login)}"><strong>{$user.extra.nombre} {$user.extra.apellido}</strong></a>{/if}</p>
					<p class="logout"><a href="{url 'Pato_Views::logout'}">&nbsp;<img class="icon" src="{media '/img/application-exit.png'}" alt="Salir" />Salir</a></p>
				{else}<p class="login"><a href="{url 'Pato_Views::login', array (), array ('_redirect_after' => $uri)}">Iniciar sesión</a></p>{/if}
				</div>
			</td>
		</tr></table>
	</div>
	{block extratopbody}{/block}
	{if $user and $user.id}{getmsgs $user}{/if}
	<h1 class="titulo">{$page_title}</h1>
	<div style="margin-left: 5px;">
		{block body}{/block}
	</div>
{block javascript}{/block}
</body>
</html>
