{extends 'pato/alumno/base.html'}
{block body}
	<p>Para completar el registro, tenemos que asegurarnos que el celular indicado es tuyo. Para esto, enviaremos un mensaje de prueba. Simplemente responde a ese mensaje con la palabra <strong>ALTA</strong>, seguida de un espacio, y tu código de estudiante (a 8 dígitos, incluyendo los ceros iniciales).</p>
	<p>El mensaje puede tardar hasta una hora en llegar. Si no has recibido el mensaje de confirmación, envia la palabra <strong>ALTA</strong>, seguida de un espacio y tu código de estudiante (a 8 dígitos, incluyendo los ceros iniciales) al número <em>{$numero}</em>.</p>
{/block}
