{extends 'pato/alumno/base.html'}
{block body}
<p>Esta utilería sólo envia mensajes a aquellos alumnos que registraron su WhatsApp y que completaron la verificación del número. Si el alumno no completó la verificación, no recibirá alertas hasta que lo haga.</p>
{if $form.errors}<div class="errors"><p>El formulario contiene algunos errores:</p></div>{/if}
<form method="post" action=".">
	<table>
		{$form.render_table}
		<tr><td>&nbsp;</td><td><input type="submit" value="Enviar mensaje" /></td></tr>
	</table>
</form>
{/block}
