{extends 'pato/alumno/base.html'}
{block body}
{if $form.errors}<div class="errors"><p>El formulario contiene algunos errores:</p></div>{/if}
<form method="post" action=".">
	<table>
		<tr><th><strong>Alumno:</strong></th><td>{$alumno.apellido} {$alumno.nombre}</td></tr>
		{if $perfil.whatsapp !== null}<tr><th><strong>Actual número de WhatsApp:</strong></th><td>{$perfil.whatsapp}{if !$perfil.whatsapp_verificado}<strong>No verificado</strong> <em>Revisar porqué</em>{/if}</td></tr>{/if}
		<tr>
			<th><strong>{$form.f.numero.labelTag}:</strong></th>
			<td>{if $form.f.numero.errors}{$form.f.numero.fieldErrors}{/if}
			{$form.f.numero|safe}<br />
			<span class="helptext">{$form.f.numero.help_text}</span>
			</td>
		</tr>
		<tr id="theterms"><td>&nbsp;</td><td><div class="theterms">{$terms}</div></td></tr>
		<tr><td>&nbsp;</td><td>{if $form.f.terms.errors}{$form.f.terms.fieldErrors}{/if}{$form.f.terms|unsafe} <strong>{$form.f.terms.labelTag}</strong><br /><span class="helptext">Lee los <a id="showterms" href="#theterms">términos y condiciones de uso del sistema de mensajes de WhatsApp</a> &ndash; básicamente <em>"Sé amable, te respetamos"</em>.</span></td></tr>
		<tr><td>&nbsp;</td><td><input type="submit" value="Registrar número de WhatsApp" /></td></tr>
	</table>
</form>
{/block}
{block javascript}<script type="text/javascript">{literal}
$(document).ready(function() {
    // Hide the key password by default.
    $("#theterms").hide();
    $("#showterms").click(function(){
        $("#theterms").show();
    });
});{/literal}</script>
{/block}
{block extrahead}<link rel="stylesheet" media="all" type="text/css" href="{media}/css/smoothness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>{/block}
