{extends 'pato/base.html'}
{block body}
<p><a href="{url 'Pato_Views_Utils::loteBoletas'}">Imprimir boletas por lote y carrera</a></p>
<p><a href="{url 'Pato_Views_Utils::altasBajasMasivas'}">Altas y bajas masivas</a></p>
<p><a href="{url 'Pato_Views_Utils::generarAgendas'}">Crear o ajustar agendas de los alumnos</a></p>
<h2>Cosas relacionadas con las formas de evaluación</h2>
<p><a href="{url 'Pato_Views_Utils::cambiarFechaEval'}">Cambiar fechas a toda una forma de evaluación</a></p>
<p><a href="{url 'Pato_Views_Utils::agregarPorcentaje'}">Agregar una forma de evaluación a todas las materias</a></p>
<p><a href="{url 'Pato_Views_Utils::cambiarPorcentaje'}">Actualizar porcentajes a toda una forma de evaluación</a></p>
{/block}
