{extends 'pato/seccion/base.html'}
{block extratopbody}
<div style="float:right">
	<form action="{url 'Pato_Views_Calendario::cambiarCalendario', array (), array ('_redirect_after' => $uri)}" method="post">
	<strong>{$form_calendario.f.calendario.labelTag}:</strong>{$form_calendario.f.calendario|safe}&nbsp;<input type="submit" value="Cambiar" />
	</form>
</div>
{/block}
{block body_seccion}
<p>Evaluando asistencias al grupo: {$seccion.get_materia} {$seccion.seccion}</p>
<p>Los valores van del 0 al 100%. No necesita escribir el "%".</p>
{if $form.errors}<div class="errors"><p>El formulario contiene algunos errores:</p></div>{/if}
<form method="post" action=".">
	<table>
		{$form.render_table}
		<tr><td>&nbsp;</td><td><input type="submit" value="Guardar asistencias" /></td></tr>
	</table>
</form>
{/block}
