{extends 'pato/base.html'}
{block extratopbody}{include 'pato/calendario/cambiar-calendario.html'}{/block}
{block body}
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">Detalles</a></li>
<li style="display: inline;"><a href="{url 'Pato_Views_Seccion::verAlumnos', array ($seccion.nrc)}">Alumnos y calificaciones</a></li>
{if $user.administrator}
<li style="display: inline;"><a href="{url 'Pato_Views_Seccion::actualizarNrc', array ($seccion.nrc)}">Actualizar</a></li>
<li style="display: inline;"><a href="{url 'Pato_Views_Seccion::verFormatos', array ($seccion.nrc)}">Formatos</a></li>
<li style="display: inline;"><a href="{url 'Pato_Views_Seccion::eliminarNrc', array ($seccion.nrc)}">Eliminar</a></li>
{/if}
</ul>
{block body_seccion}{/block}
{/block}
