{extends 'pato/seccion/base.html'}
{block body_seccion}
<form method="POST" action="{url 'Pato_Views_Seccion::eliminarNrc', array ($seccion.nrc)}">
<h2>¿Está seguro de que desea eliminar el NRC {$seccion.nrc}?</h2>
<p>El NRC pertenece a la materia {$seccion.get_materia} sección {$seccion.seccion}</p>
<p>Esto desmatriculará todos los alumnos y eliminará sus respectivas calificaciones</p>
<p>Esta acción no se puede deshacer</p>
<input type="submit" value="Sí, borrar" /> | <a href="{url 'Pato_Views_Seccion::verNrc', array ($seccion.nrc)}">No</a>
{/block}
