{extends 'pato/base.html'}
{block extratopbody}
<div style="float:right">
	<form action="{url 'Pato_Views_Calendario::cambiarCalendario', array (), array ('_redirect_after' => $uri)}" method="post">
	<strong>{$form_calendario.f.calendario.labelTag}:</strong>{$form_calendario.f.calendario|safe}&nbsp;<input type="submit" value="Cambiar" />
	</form>
</div>
{/block}
{block body}
{if $user.administrator}
<p><a href="{url 'Pato_Views_Seccion::agregarNrc'}"><img class="icon" src="{media '/img/list-add.png'}" alt="Agregar seccion" />Agregar una nueva sección</a></p>
{/if}
{$paginador.render}
{/block}
