{extends 'pato/seccion/base.html'}
{block body_seccion}
<p>Sección del profesor <a href="{url 'Pato_Views_Maestro::verMaestro', array ($seccion.maestro)}">{$seccion.get_maestro}</a></p>
<p>Cupo: {$seccion.cupo}</p>
{if $suplente}<p>Profesor Suplente <a href="{url 'Pato_Views_Maestro::verMaestro', array ($suplente.codigo)}">{$suplente}</a></p>{/if}
<h2>Horarios de la sección</h2>
{assign $puede_editar = ($admin_secciones || ($editar_seccion_vacio && count ($seccion.get_alumnos_list ()) == 0))}
{if $puede_editar}
<p>Puede <a href="{url 'Pato_Views_Horario::agregarHora', array ($seccion.nrc)}">agregar una nueva hora</a> a esta sección</p>
{/if}
{if count($horarios) != 0}
	<table border="1">
	<thead><tr><th>Hora inicio</th><th>Hora fin</th><th>Días</th><th>Edificio</th><th>Aula</th>{if $puede_editar}<th>Acciones</th>{/if}</tr></thead>
	<tbody>
	{foreach $horarios as $hora}
		<tr><td>{$hora.inicio}</td>
		<td>{$hora.fin}</td>
		<td>{$hora.displayDias()}</td>
		{assign $salon = $hora.get_salon ()}
		<td><a href="{url 'Pato_Views_Edificio::verEdificio', array ($salon.edificio)}">{$salon.edificio}</a></td>
		<td><a href="{url 'Pato_Views_Edificio::verEdificio', array ($salon.edificio)}{'#salon_'~$hora.salon}">{$salon.aula}</a></td>
		{if $puede_editar}
		<td>
		<a href="{url 'Pato_Views_Horario::actualizarHora', array ($seccion->nrc, $hora->id)}"><img class="icon" src="{media '/img/document-properties.png'}" alt="Editar" /></a>
		<a href="{url 'Pato_Views_Horario::eliminarHora', array ($seccion->nrc, $hora->id)}"><img class="icon" src="{media '/img/edit-delete.png'}" alt="Eliminar" /></a>
		</td>{/if}</tr>
	{/foreach}
	</tbody></table>
{else}
	<p>La sección no tiene horas programadas</p>
{/if}
{/block}
