{extends 'pato/base.html'}
{block body}
<p>Operaciones sobre sus alumnos y si viven o mueren en esta Universidad.</p>
<p><a href="{url 'Pato_Views_Estatus::licenciaSeleccionar'}">Aplicar licencia</a></p>
<p><a href="{url 'Pato_Views_Estatus::bajaVoluntariaSeleccionar'}">Baja voluntaria</a></p>
<p><a href="{url 'Pato_Views_Estatus::cambioCarrera'}">Cambio de carrera</a></p>
<p><a href="{url 'Pato_Views_Estatus::bajaAcademica'}">Bajas académicas</a></p>
<p><a href="{url 'Pato_Views_Estatus::bajaAdministrativaSeleccionar'}">Baja administrativa</a></p>
<p><a href="{url 'Pato_Views_Estatus::bajaAdministrativaRegresarSeleccionar'}">Revertir una baja administrativa</a></p>
<p><a href="{url 'Pato_Views_Estatus::recibirDocumentosSeleccionar'}">Registrar documentos de ingreso</a></p>
{/block}
